## SALES ANALYSIS

`Import Libraries`

In [54]:
import pandas as pd
import os

`Task 1 - merge the 12 months of data into a single csv file`

In [55]:
# READING A FILE OF DATA
df = pd.read_csv("./sales_data/Sales_April_2019.csv")

# cCONCATENATING FILES
# -- storing file names from a directory in a list
files = [file for file in os.listdir('./sales_data')]

# -- create an empty dataframe
all_months_data = pd.DataFrame()

# -- a for loop to concatenate all 12 files into a new file
for file in files:
    df = pd.read_csv('./sales_data/'+file)
    # all_months_data = all_months_data.append(df) -- another way to concat
    all_months_data = pd.concat([all_months_data, df])

# -- saving the dataframe into new csv file
all_months_data.to_csv("all_data.csv", index=False)

In [56]:
# -- read updated dataframe
all_data = pd.read_csv("all_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

`Clean up data`

In [57]:
# drop nan rows

# -- add rows with nan into new df
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head()

# -- drop the rows from the all data df
all_data = all_data.dropna(how='all')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [58]:
# remove '/4' from data -- error displayed when adding a month column
all_data = all_data[all_data['Order Date'].str[0:2] != '4/']

In [60]:
# remove '/5' from data -- error displayed when adding a month column
all_data = all_data[all_data['Order Date'].str[0:2] != '5/']

In [64]:
# remove 'Or' from data -- error displayed when adding a month column
all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']

`Task 2 - add a month column`

In [65]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4
5,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",4
8,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016",4
10,176567,Google Phone,1,600,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001",4